* {
    margin: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #FFF7EC;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}


.header {

    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}



.content {

    display: flex;
    flex-direction: column;

    margin: auto;

}

.bienvenidos {

    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #10495C;

    font-size: 60px;
    font-weight: 900;
    margin-bottom: 35px;
    transition: font-size 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
}

.btn_empezar {

    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 100px;
    width: 444px;
    height: 100px;
    border-radius: 57px;
    background-color: #A7CBCD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

}

.headerLeft {
    margin-left: 30px;
    width: 17px;
    transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;



}

.headerRight {
    margin-right: -14px;
    width: 300px;
    transition: width 0.5s ease-in-out;

}

.footerLeft {
    margin-left: -14px;
    width: 300px;
    transition: width 0.5s ease-in-out;

}

.footerRight {
    width: 150px;
    margin-bottom: -80px;
    transition: width 0.5s ease-in-out;

}

.courtain {
    position: absolute;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url("./../../data/img/background.png");
    background-size: cover;

}

.load {
    display: flex;
    flex-direction: column;
    margin: auto;

}

.cargando {
    transition: font-size .3s ease-in-out;
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    color: white;
}

.loading {
    display: flex;
    width: 100px;
    height: 100px;
    border: 20px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    margin: auto;
    transition: width .5s ease-in-out, height .5s ease-in-out, border-width .5s ease-in-out;

}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}


@media (max-width: 1000px),
(max-height: 550px) {

    .bienvenidos {

        font-size: 30px;
        
        margin-bottom: 0px;
        transition: font-size 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
    }

    .btn_empezar {


        font-size: 20px;
        line-height: 50px;
        width: 200px;
        height: 50px;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

    }

    .headerLeft {

        margin-left: 15px;
        width: 15px;
        transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;

    }

    .headerRight {
        width: 270px;
        transition: width 0.5s ease-in-out;
    }

    .footerLeft {
        width: 270px;
        transition: width 0.5s ease-in-out;
    }

    .footerRight {
        width: 150px;
        margin-right: 0px;
        margin-bottom: -70px;
        transition: width 0.5s ease-in-out;
    }

    .bienvenidos {

        padding-bottom: 15px;
        transition: font-size 0.5s ease-in-out, padding-bottom 0.5s ease-in-out;

    }

    .cargando {
        transition: font-size .3s ease-in-out;
        font-size: 50px;

    }

    .loading {

        width: 80px;
        height: 80px;
        border-width: 15px;
        transition: width .5s ease-in-out, height .5s ease-in-out, border-width .5s ease-in-out;


    }

}


@media (max-width: 600px),
(max-height: 465px) {

    .bienvenidos {

        font-size: 30px;
        margin-bottom: -10px;
        transition: font-size 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
    }

    .btn_empezar {


        font-size: 20px;
        line-height: 50px;
        width: 200px;
        height: 50px;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;


    }

    .headerLeft {

        margin-left: 15px;
        width: 12px;
        transition: width 0.5s ease-in-out;

    }

    .headerRight {
        width: 200px;
        transition: width 0.5s ease-in-out;
    }

    .footerLeft {
        width: 200px;
        transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;

    }

    .footerRight {
        width: 100px;
        margin-right: 0px;
        margin-bottom: -70px;
        transition: width 0.5s ease-in-out;
    }

    .bienvenidos {

        padding-bottom: 15px;

    }

    .cargando {
        transition: font-size .3s ease-in-out;
        font-size: 30px;

    }

    .loading {

        width: 40px;
        height: 40px;
        border-width: 10px;
        transition: width .5s ease-in-out, height .5s ease-in-out, border-width .5s ease-in-out;

    }
}

@media (max-width: 300px) {

    .bienvenidos {

        font-size: 20px;

    }

    .btn_empezar {


        font-size: 15px;
        line-height: 30px;
        width: 150px;
        height: 30px;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;


    }


    .cargando {

        transition: font-size .3s ease-in-out;
        font-size: 30px;

    }

    .loading {

        width: 50px;
        height: 50px;
        border-width: 10px;
        transition: width .5s ease-in-out, height .5s ease-in-out, border-width .5s ease-in-out;


    }


}