* {
    margin: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #FFF7EC;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}


.header {

    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.footer {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}



.content {

    display: flex;
    flex-direction: column;

    margin: auto;

}

.bienvenidos {

    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #10495C;

    font-size: 60px;
    font-weight: 900;
    padding-bottom: 35px;

    transition: font-size 0.5s ease-in-out;
}

.btn_empezar {

    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
    line-height: 100px;
    width: 444px;
    height: 100px;
    border-radius: 57px;
    background-color: #A7CBCD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

}

.headerLeft {
    margin-left: 30px;
    width: 20px;
    transition: width 0.5s ease-in-out;


}

.headerRight {
    margin-right: -14px;
    width: 300px;
    transition: width 0.5s ease-in-out;

}

.footerLeft {
    margin-left: -14px;
    width: 300px;
    transition: width 0.5s ease-in-out;

}

.footerRight {
    width: 150px;
    margin-bottom: -80px;
    transition: width 0.5s ease-in-out;

}

@media (max-width: 1000px),
(max-height: 500px) {

    .bienvenidos {

        font-size: 30px;
        transition: font-size 0.5s ease-in-out;

    }

    .btn_empezar {


        font-size: 20px;
        line-height: 50px;
        width: 200px;
        height: 50px;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

    }

    .headerLeft {

        margin-left: 15px;
        width: 15px;
        transition: width 0.5s ease-in-out;

    }

    .headerRight {
        width: 220px;
        transition: width 0.5s ease-in-out;
    }

    .footerLeft {
        width: 220px;
        transition: width 0.5s ease-in-out;
    }

    .footerRight {
        width: 100px;
        margin-right: 0px;
        margin-bottom: -70px;
        transition: width 0.5s ease-in-out;
    }

    .bienvenidos {

        padding-bottom: 15px;

    }
}


@media (max-width: 600px),
(max-height: 400px) {

    .bienvenidos {

        font-size: 30px;
        transition: font-size 0.5s ease-in-out;

    }

    .btn_empezar {


        font-size: 20px;
        line-height: 50px;
        width: 200px;
        height: 50px;
        transition: font-size 0.5s ease-in-out, line-height 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;


    }

    .headerLeft {

        margin-left: 15px;
        width: 10px;
        transition: width 0.5s ease-in-out;

    }

    .headerRight {
        width: 150px;
        transition: width 0.5s ease-in-out;
    }

    .footerLeft {
        width: 150px;
        transition: width 0.5s ease-in-out;
    }

    .footerRight {
        width: 40px;
        margin-right: 0px;
        margin-bottom: -70px;
        transition: width 0.5s ease-in-out;
    }

    .bienvenidos {

        padding-bottom: 15px;

    }
}