* {
    margin: 0;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #EDEDED;

}


.back {

    position: absolute;
    display: none;
    width: 50px;
    left: 0%;
    margin-left: 30px;

}

.encabezado {
    display: flex;

    background-image: url("./../../data/img/background.png");
    background-size: cover;
    background-position: center;


    width: 100%;
    height: 120px;

    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;


    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;


}

.container {

    margin: auto;
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;



}

.perfil {

    margin: auto;
    display: flex;
    align-items: center;
    width: 500px;
    height: 150px;
    background: #FFF7EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 800;

    justify-content: space-between;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, font-size 0.5s ease-in-out;

}

.perfilIcon {
    padding-left: 30px;
    padding-right: 20px;
    width: 100px;
    transition: width 0.5s ease-in-out;

}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.go {
    width: 40px;
    padding-right: 30px;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
}



@media (max-width: 650px) {


    .back {
        display: block;
        width: 30px;
    }

    .encabezado {


        width: 100%;
        height: 80px;
        font-size: 20px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;

    }

    .perfil {
        width: 370px;
        height: 90px;
        font-size: 17px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out, font-size 0.5s ease-in-out;

    }

    .perfilIcon {

        padding-right: 12px;
        width: 80px;
        transition: width 0.5s ease-in-out;

    }

    .go {
        width: 26px;
        transition: width 0.5s ease-in-out;

    }
}




@media (max-width: 500px) {

    .encabezado {


        width: 100%;
        height: 60px;
        font-size: 15px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;

    }

    .back {

        width: 25px;
    }


    .container {

        width: 100%;
        height: 70%;

    }

    .perfil {
        width: 220px;
        height: 70px;
        font-size: 12px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out, font-size 0.5s ease-in-out;

    }

    .perfilIcon {
        padding-left: 10px;
        padding-right: 10px;
        width: 60px;
        transition: width 0.5s ease-in-out;

    }

    .go {
        width: 20px;
        padding-right: 15px;
        transition: width 0.5s ease-in-out;

    }

}


@media (max-width: 250px) {

    .encabezado {

        width: 100%;
        height: 50px;
        font-size: 13px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: height 0.5s ease-in-out, font-size 0.5s ease-in-out;

    }

    .back {
        display: block;
        width: 20px;
        margin-left: 10px;
    }



    .perfil {
        width: 150px;
        height: 60px;
        font-size: 10px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out, font-size 0.5s ease-in-out;
    }

    .perfilIcon {
        padding-left: 5px;
        padding-right: 5px;
        width: 50px;
        transition: width 0.5s ease-in-out;
    }

    .go {
        width: 15px;
        padding-right: 10px;
        transition: width 0.5s ease-in-out;

    }

}